body{
    background-color: aqua;
    flex-wrap: wrap;
    color:brown;
}
.div1{
    background-color: white;
    flex-wrap: wrap;
    padding: 10px;
    margin: 50px;
    border-radius: 6px;
    padding-bottom: 50px;
}
h1{
    text-align: center;
    font-size: 16px;
}
h2{
    font-size: x-large;
    color: blue;
}
div.for_example{
    display: table-row;
}
label, input,select{
    display: table-cell;
    margin-bottom: 30px;
}
label{padding-right: 10px;}